body{
    background-color: rgb(200, 200, 200);
    max-width: 1000px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(89, 89, 128);
}

.keret{
    display: block;
    margin: auto;
    width: 90%;
}

h1{
    text-align: center;
}

li{
    text-decoration: none;
}

img{
    display: block;
}